*{
    margin: 0px;
}
header{
    /* background-color: purple; */
}

img{
    max-width: 100%;
}

.btn{
    background-color:rgba(253, 110, 10, 1); 
    padding: 10px 20px;
    font-weight: bold;
    font-size: 22px;
    border: none;
    color: white;
   
}


.conmment-btn{
    border: 1px solid rgba(253, 110, 10, 1);
    padding: 10px 20px;
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;

}

nav{
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 15px 0px;
    justify-content: space-between;
    
   
    
}

/* nav ber start*/
nav ul{
    display: flex;
    gap: 15px;
    list-style: none;
    align-items: center;
    justify-content: space-between;
   

}
nav ul li{
    
    
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    text-align: center;

    
}

nav h2 {
    font-size: 45px;
    font-weight: bold;
}
nav h2 span{
    color: rgba(253, 110, 10, 1);
}



/* nav ber end*/
.main-container{
    background-color: #fff8f3;

}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    
}

.left-container h3{
    font-size: 45px;
    font-weight:bold;
    color: #474747;
}
.left-container h2{
    font-size: 60px;
    font-weight: bold;
    color: #181818;
}
.left-container p{
    font-size: 18px;
    color: #474747;
}
.Right-container{
    background-image: url(imges/header_bg.png);
}